# Jupyter-Notebooks y Python en General
constants.py
__pycache__/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MongoDB
data/**

#Neo4j
neo4j/**

practica3/ejercicio1/space.json
practica3/ejercicio2/happiness.txt
practica3/ejercicio2/simpsons_script_lines.csv
practica3/ejercicio3/*.csv
practica4/20news-18828/**