# Jupyter-Notebooks y Python en General
constants.py
__pycache__/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MongoDB
data/**

#Neo4j
neo4j/**

# LaTeX
*aux
*fdb_latexmk
*fls
*nav
*out
*toc
*vrb
_minted-*/
*log
*snm
*synctex*
.vscode/